$container-width: 245px;
$color-primary: #c61e21;
$color-header-bg: #fcfcfc;
$color-header-text: #333;
$color-bg-highlight: #eee;

.bec-container {
  box-sizing: border-box;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: auto;
  width: $container-width;

  header {
    background-color: $color-header-bg;
    box-sizing: border-box;
    color: $color-header-text;
    text-align: center;

    h1 {
      box-sizing: border-box;
      color: $color-header-text;
      display: inline-block;
      font-size: 14px;
      margin: 0;
      padding-bottom: 4px;
      padding-top: 4px;
      text-align: center;
      text-transform: uppercase;
      width: $container-width * 0.7;
    }

    .bec-button-prev,
    .bec-button-next {
      box-sizing: border-box;
      color: $color-header-text;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 4px;
      padding-top: 4px;
      text-decoration: none;
      transition-delay: 0s;
      transition-duration: 0.5s;
      transition-property: background-color;
      transition-timing-function: ease;
      width: $container-width * 0.15;

      &:hover,
      &:hover {
        background-color: $color-bg-highlight;
      }
    }
  }

  .bec-days-container {
    border-bottom: 2px solid $color-primary;
    border-top: 2px solid $color-primary;
    text-align: center;
  }

  .bec-days-header {
    background-color: $color-header-bg;
    border-bottom: 1px solid lighten($color-bg-highlight, 1%);
    font-weight: 600;
  }

  .bec-week {
    border-bottom: 1px solid lighten($color-bg-highlight, 1%);
  }

  .bec-day, .bec-day-label {
    box-sizing: border-box;
    display: inline-block;
    width: $container-width / 7;
  }

  .bec-day {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 4px;

    &:hover {
      background-color: $color-bg-highlight;
      border: 1px solid lighten($color-primary, 30%);
    }

    &.active {
      border: 1px solid lighten($color-primary, 30%);
    }

    &.current-day {
      background-color: $color-bg-highlight;
    }

    &.event {
      background-color: lighten($color-primary, 50%);
    }
  }

  .bec-events {
    margin-top: 20px;
  }

  .bec-event {
    background-color: lighten($color-bg-highlight, 1%);
    padding: 10px;
    margin-bottom: 10px;
    display: none;

    h2 {
      font-size: 13px;
      height: auto;
      line-height: 18px;
      margin: 0 0 6px 0;
    }

    p {
      margin: 0;
    }

    span {
      font-size: 12px;
    }
  }
}
